:root {
    --dark-text: #e5f3fe;
    --dark-background: #010c16;
    --dark-primary: #80bcfa;
    --dark-secondary: #1d0696;
    --dark-accent: #650FF5;

    /* FONTS */
    --title: 'Bruno Ace SC', display, sans-serif;
    --text: 'Aldrich', sans-serif;
    --footer: 'Megrim', sans-serif;
}

h1, h2 {
    font-family: var(--title);
    padding-bottom: 2em;
}

h2 {
    text-decoration: underline;
    text-decoration-color: var(--dark-primary);
}

h3, h4 {
    padding-bottom: 1em;
}

html { scroll-behavior: smooth; }

section {
    padding: 2em;
    border-bottom: #650FF5 1px solid;
}

svg {
    fill: var(--dark-text);
}

svg:hover {
    fill: var(--dark-accent);
}

a.btn {
    color: var(--dark-text);
    transition: all .4s ease;
}

.btn:hover, .btn:focus {
    color: var(--dark-text)!important;
    border: 3px solid var(--dark-accent);
    box-shadow: #222 1px 0 10px;
    font-size: small;
}

.container {
    font-family: var(--text);
    color: var(--dark-text);
}

.wrapper {
    background-color: var(--dark-background);
}

/*-- NAVBAR --*/

.collapse {
    background-color: var(--dark-accent);
}

.navbar {
    background-color: var(--dark-accent);
    border-bottom: 1px solid var(--dark-primary);
}

.navbar a {
    color: var(--dark-text);
    font-family: var(--title);
    font-size: large;
}

.navbar a:hover {
    color: var(--dark-primary);
    text-decoration: underline;
}
.navbar-brand a:hover {
    color: var(--dark-primary);
    text-decoration: none;
}

.navbar-brand .title a:hover {
    text-decoration: none;
}

/*-- INTRO --*/

#intro {
    padding: 12em 0;
    width: 100%;
}

.bg_img {
    background-image: url('../images/..');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-self: center;
}

/*-- ABOUT --*/

.link {
    color: var(--dark-text);
    font-weight: bold;
    font-size: small;
    text-decoration: none;
}

/*-- EDUCATION --*/

/*-- SKILLS --*/

.fa {
    font-size: 2em;
    color: var(--dark-primary);
}

/*-- PROJECTS --*/

.card {
    min-height: 25rem;
}

.card.project {
    background: var(--dark-background);
    border: 1px solid var(--dark-primary);
}

.project {
    width: 20rem;
    overflow: hidden;
    transition:transform .4s;
}

.project:hover {
    transform:scale(1.08);
    box-shadow: 0 4px 8px 0 var(--dark-accent);
}

/*-- FOOTER --*/

#footer {
    background-color: var(--dark-accent);
    border-top: 1px solid var(--dark-primary);
    color: var(--dark-text);
    text-align: center;
    font-family: var(--footer);
    font-size: small;
}

#footer svg:hover {
    fill: var(--dark-background);
}

